.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal__header__action {
    position: absolute;
    right: 25px;
    top: 25px;
}
.modal__main {
    margin-top: 2rem;
}